@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.sticky-search {
  position: sticky;
  top: 10px;
  z-index: 1000;
}

.dark-check:checked {
  color: brown;
  background: black;
}
